.s-single-head {
  &__title {
    border-top: none;
  }
  &__switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 20px;

    &._active {
      &::before {
        border-color: black;
        background-color: black;
        right: 20px;
      }
      svg {
        fill: var(--primary);
        stroke: #2c2c2c;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid var(--primary);
      right: 100%;
      transform: translateX(100%);
      transition:
        right 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
      z-index: 10;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      fill: black;
      stroke: black;
      transition:
        fill 0.3s ease,
        stroke 0.3s ease;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet {
      gap: 15px;
    }
  }
  &__img {
    display: block;
    align-self: flex-start;
    width: 315px;
    height: 155px;
    object-fit: cover;
    @include tablet {
      width: 380px;
      margin: 0 auto;
      height: auto;
      min-height: 210px;
    }
  }
  &__body {
    flex: 0 1 655px;
    @include laptop-min {
      flex: 1;
    }
    @include tablet {
      flex: none;
      width: 100%;
    }
  }
  &__wrapper-title {
    font-size: 30px;
    line-height: 87%;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
  }
  &__content {
    font-size: 14px;
    margin: 0;
  }
  &__info {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 25px;
    @include laptop-min {
      width: 100%;
      padding-top: 10px;
      border-top: 3px solid white;
    }
  }
  &__date {
    font-size: 14px;
    color: var(--primary);
    @include tablet {
      display: none;
    }
  }
}
