._andalemono {
  font-family: "Andalemono", sans-serif;
}
._wremena {
  font-family: "Wremena", sans-serif;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.max-w-none {
  max-width: none !important;
}

.static {
  position: static !important;
}