<footer class="footer _andalemono">
  <div class="container">
    <div class="footer__top">
      <div class="footer__item">
        Редакция: <br />
        Максим Хатов, Катя Камушкина, Арина Воронцова, Михаил Постников
      </div>
      <div class="footer__item">
        Дизайн:
        <a href="https://shoplift.design/" target="_blank">SHOPLIFT</a>, Оли Цве
        <br />
        С нами работали: <br />
        ##1–2: Cаша Глазков
      </div>
      <div class="footer__item">
        Связь с редакцией:
        <a href="mailto:@hlampoetrydirect">@hlampoetrydirect</a> <br />
        Telegram: @hlampoetrydirect
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© thlampoetry.ru 2025</div>
			<div></div>
      <div class="footer__social">
        <a href="#" target="_blank" class="footer__social-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tg"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="./files/simplebar/simplebar.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
