<header class="header">
  <div class="container header__container">
    <ul class="list header__list">
      <li><a href="#">Теория</a></li>
      <li><a href="#">Практика</a></li>
      <li><a href="#">Номера</a></li>
    </ul>
    <a href="/" class="header__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="header__right">
      <form action="#" class="dropdown header__form">
        <svg class="header__form-icon">
          <use xlink:href="img/icons/icons.svg#icon-search"></use>
        </svg>
        <input type="text" class="header__form-input" />
        <div class="dropdown__item">
          <ul class="list dropdown__list">
            <li><a href="#">Максим Хатов</a></li>
            <li><a href="#">Максим Максимов</a></li>
            <li><a href="#">Максим пошёл гулять и Максим пошёл гулять и</a></li>
            <li><a href="#">Анна Максимова</a></li>
          </ul>
        </div>
      </form>
      <ul class="list header__list">
        <li><a href="#">О нас</a></li>
      </ul>
    </div>
    <div class="dropdown header__burger-drop">
      <div class="header__burger-btn dropdown-btn">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="dropdown__item">
        <ul class="list dropdown__list">
          <li><a href="#">Теория</a></li>
          <li><a href="#">Практика</a></li>
          <li><a href="#">Номера</a></li>
          <li><a href="#">О нас</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
