<section class="intro">
  <img src="@img/intro.jpg" alt="image" class="intro__img" />
  <div class="container">
    <div class="intro__grid">
      <div class="card">
        <div class="card__head">
          <div class="card__type">[Практика]</div>
        </div>
        <div class="card__body">
          <a href="#" class="card__title">
            Все флаги в гости будут к нам Все флаги в гости будут к нам
          </a>
          <a href="#" class="card__content">
            <p>
              Константин Ремизов (с предисловием Анны Родионовой) Константин
              Ремизов (с предисловием Анны Родионовой)
            </p>
          </a>
          <ul class="list-tags card__list">
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">ВизуальнаяВизуальная</a></li>
            <li><a href="#">штука</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <div class="card__type">[Теория]</div>
        </div>
        <div class="card__body">
          <a href="#" class="card__title">
            Все флаги в гости будут к нам Все флаги в гости будут к нам
          </a>
          <a href="#" class="card__content">
            <p>
              Константин Ремизов (с предисловием Анны Родионовой) Константин
              Ремизов (с предисловием Анны Родионовой)
            </p>
          </a>
          <ul class="list-tags card__list">
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">ВизуальнаяВизуальная</a></li>
            <li><a href="#">штука</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <div class="card__type">[Номера]</div>
        </div>
        <div class="card__body">
          <div class="card__row">
            <a href="#" class="card__num">
              <span>№</span>
              65
            </a>
            <div class="card__row-content">
              <a href="#" class="card__title">
                Все флаги в гости будут к нам Все флаги в гости будут к нам
              </a>
              <a href="#" class="card__content">2025</a>
            </div>
          </div>
          <ul class="list-tags card__list">
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">штука</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
