<section class="s-archive">
  <form action="#" class="s-archive__form _andalemono">
    <div class="container s-archive__form-container">
      <input type="checkbox" id="input-1" class="s-archive__form-input" />
      <label for="input-1" class="s-archive__form-label">
        <span>Музыка</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </label>
      <input
        type="checkbox"
        id="input-2"
        class="s-archive__form-input"
        checked
      />
      <label for="input-2" class="s-archive__form-label">
        <span>видеоигры</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </label>
      <input type="checkbox" id="input-3" class="s-archive__form-input" />
      <label for="input-3" class="s-archive__form-label">
        <span>Мемы</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </label>
      <input type="checkbox" id="input-4" class="s-archive__form-input" />
      <label for="input-4" class="s-archive__form-label">
        <span>кино</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </label>
      <input type="checkbox" id="input-5" class="s-archive__form-input" />
      <label for="input-5" class="s-archive__form-label">
        <span>искусство</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </label>
      <input type="checkbox" id="input-6" class="s-archive__form-input" />
      <label for="input-6" class="s-archive__form-label">
        <span>интернет</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </label>
    </div>
  </form>
  <div class="container">
    <div class="s-archive__grid grid-layout">
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
      <article class="single-card">
        <a href="#" class="single-card__gallery">
          <img src="@img/card-img.jpg" alt="image" />
        </a>
        <a href="#" class="single-card__body">
          <h5 class="single-card__title">
            Все флаги в гости будут к нам будут к нам нам нам 99
          </h5>
          <p class="single-card__descr">
            Константин Ремизов (с предисловием Анны Родионовой)(с предисловием
            Анны Родионовой)
          </p>
        </a>
        <ul class="list-tags single-card__tags">
          <li><a href="#">Theory</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">otherotherotherotherotherotherot</a></li>
        </ul>
      </article>
    </div>
  </div>
</section>
