<section class="s-authors">
  <div class="s-authors__item">
    <div class="s-title">
      <div class="container">
        <h2 class="s-title__content">Константин Ремизов</h2>
      </div>
    </div>
    <div class="container s-authors__item-container">
      <img src="@img/author.jpg" alt="image" class="s-authors__item-img" />
      <p class="s-authors__item-content _andalemono">
        родился в 1991 году в Нижнем Новгороде. занимается графикой и
        медиаискусством, с 2017 года — редактор паблика/канала INGAME,
        посвященного творческим практикам в компьютерных играх.
      </p>
      <ul class="list-tags s-authors__item-list">
        <li><a href="#">Телеграм-канал</a></li>
        <li><a href="#">Ссылка</a></li>
      </ul>
    </div>
  </div>
  <div class="s-authors__item">
    <div class="s-title">
      <div class="container">
        <h2 class="s-title__content">Анна Родионова</h2>
      </div>
    </div>
    <div class="container s-authors__item-container">
      <img src="@img/author.jpg" alt="image" class="s-authors__item-img" />
      <p class="s-authors__item-content _andalemono">
        Поэтесса, исследовательница современной литературы, преподает в Школе
        филологических наук НИУ ВШЭ и на независимых площадках. Кандидатка
        филологических наук, авторка рецензий и научных статей, в том числе в
        журнале «Новое литературное обозрение». Стихи, эссе и визуальные работы
        («слайды») публиковались в интернет-изданиях «Флаги», «альманах-огонь»,
        «sad girls times», «syg.ma», «Цирк “Олимп”+TV», в журнале [Транслит] и
        др. Соавторка коллективной поэтической работы «Ареалы». Лауреатка Премии
        Аркадия Драгомощенко (2020). В 2022 вышла дебютная книга «Климат» (СПб.:
        Порядок слов).
      </p>
      <ul class="list-tags s-authors__item-list">
        <li><a href="#">Телеграм-канал</a></li>
        <li><a href="#">Ссылка</a></li>
      </ul>
    </div>
  </div>
</section>
