<sectio class="s-single-head">
  <div class="s-title s-single-head__title">
    <div class="container">
      <div class="s-title__content">Автор: Оли Цве</div>
    </div>
  </div>
  <div class="container">
    <div class="s-single-head__wrapper _andalemono">
      <img src="@img/author.jpg" alt="image" class="s-single-head__img" />
      <div class="s-single-head__body">
        <h1 class="s-single-head__wrapper-title _wremena">Оли Цве</h1>
        <p class="s-single-head__content">
          Поэтка, дизайнерка. Закончила Институт филологии и журналистики ННГУ им. Лобачевского. Публиковалась в таких изданиях, как Артикуляция, альманах-огонь, Греза, Дискурс, Транслит, Флаги, Цирк «Олимп» Soloneba и др. Лауреатка молодёжной поэтической премии «Цикада» (2021), шорт-лист премии Драгомощенко (2021).
        </p>
      </div>
      <div class="s-single-head__info">
        <div class="s-single-head__date">2025</div>
        <ul class="list-tags">
          <li><a href="#">Телеграм-канал</a></li>
          <li><a href="#">Ссылка</a></li>
        </ul>
      </div>
    </div>
  </div>
</sectio>
