<section class="s-archive-hero">
  <div class="container">
    <div class="s-archive-hero__item">
      <a href="#" class="s-archive-hero__item-title">Практика</a>
      <p class="s-archive-hero__content _andalemono">
        <a href="#">1 day on vr tekken/ snow +</a
        ><a href="#"> A.L.I.N.A= безутробная мгла</a>
        <a href="#">...Странствие сквозь душу флейты</a>
        <a href="#">Все флаги в гости будут к нам</a>
        <a href="#">Сказка первая (Православия)</a>
        <a href="#">Курсор Метафорез: Неоконченное дело</a>
        <a href="#">«Открытки из Ревашоля» и другие тексты</a>
        <a href="#">Вечера за игрой</a>
        <a href="#">non-replayable</a>
      </p>
    </div>
  </div>
</section>
