<section class="s-numbers">
  <a href="#" class="s-numbers__item">
    <div class="container s-numbers__item-container">
      <div class="s-numbers__item-num">
        <span>№</span>
        26
      </div>
      <div class="s-numbers__item-info">
        <h5 class="s-numbers__item-title">Все флаги в гости будут к нам</h5>
        <div class="s-numbers__item-date _andalemono">2025</div>
      </div>
      <ul class="list-tags _simple s-numbers__list-tags">
        <li>Теория</li>
        <li>другое</li>
      </ul>
    </div>
  </a>
  <a href="#" class="s-numbers__item">
    <div class="container s-numbers__item-container">
      <div class="s-numbers__item-num">
        <span>№</span>
        3
      </div>
      <div class="s-numbers__item-info">
        <h5 class="s-numbers__item-title">
          «Безутробная мгла» Валерия Горюнова)«Несмотря на преграды или трудност
        </h5>
        <div class="s-numbers__item-date _andalemono">2025</div>
      </div>
      <ul class="list-tags _simple s-numbers__list-tags">
        <li>Теория</li>
        <li>другое</li>
      </ul>
    </div>
  </a>
  <a href="#" class="s-numbers__item">
    <div class="container s-numbers__item-container">
      <div class="s-numbers__item-num">
        <span>№</span>
        2
      </div>
      <div class="s-numbers__item-info">
        <h5 class="s-numbers__item-title">
          Hервы билбордов и кожа библиотек: биопанк в видеоиграх и новейшей
          поэзии Minecraft: к вопросу виртуализации протеста
        </h5>
        <div class="s-numbers__item-date _andalemono">2025</div>
      </div>
      <ul class="list-tags _simple s-numbers__list-tags">
        <li>Теория</li>
        <li>другое</li>
      </ul>
    </div>
  </a>
  <a href="#" class="s-numbers__item">
    <div class="container s-numbers__item-container">
      <div class="s-numbers__item-num">
        <span>№</span>
        2
      </div>
      <div class="s-numbers__item-info">
        <h5 class="s-numbers__item-title">
          Hервы билбордов и кожа библиотек: биопанк в видеоиграх и новейшей
          поэзии Minecraft: к вопросу виртуализации протеста
        </h5>
        <div class="s-numbers__item-date _andalemono">2025</div>
      </div>
      <ul class="list-tags _simple s-numbers__list-tags">
        <li>Теория</li>
        <li>другое</li>
      </ul>
    </div>
  </a>
</section>
