<section class="s-rec-numbers">
  <div class="s-title">
    <div class="container">
      <h2 class="s-title__content">[Номера]</h2>
    </div>
  </div>
  <div class="container">
    <div class="s-rec-numbers__grid">
      <div class="card">
        <div class="card__body">
          <div class="card__row">
            <a href="#" class="card__num">
              <span>№</span>
              65
            </a>
            <div class="card__row-content">
              <a href="#" class="card__title">
                Все флаги в гости будут к нам Все флаги в гости будут к нам
              </a>
              <a href="#" class="card__content">2025</a>
            </div>
          </div>
          <ul class="list-tags card__list">
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">штука</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <div class="card__row">
            <a href="#" class="card__num">
              <span>№</span>
              65
            </a>
            <div class="card__row-content">
              <a href="#" class="card__title">
                Все флаги в гости будут к нам Все флаги в гости будут к нам
              </a>
              <a href="#" class="card__content">2025</a>
            </div>
          </div>
          <ul class="list-tags card__list">
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">штука</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <div class="card__row">
            <a href="#" class="card__num">
              <span>№</span>
              65
            </a>
            <div class="card__row-content">
              <a href="#" class="card__title">
                Все флаги в гости будут к нам Все флаги в гости будут к нам
              </a>
              <a href="#" class="card__content">2025</a>
            </div>
          </div>
          <ul class="list-tags card__list">
            <li><a href="#">Визуальная штука</a></li>
            <li><a href="#">штука</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
