<section class="s-single">
  <div class="s-single__content">
    <h2>Предисловие Анны Родионовой</h2>
    <p>
      <span>
        Работа Константина Ремизова гибридна во всех отношениях. Не вполне
        редимейд, не совсем визуальная поэзия, не комикс и точно не коллаж.
        Можно сказать, что это серия внутриигровых фотографий, но использованные
        для ее создания методы намного разнообразнее, они уводят ее от этого
        определения тоже (см. авторский комментарий). Мне кажется, что такой
        способ работы с изображением и текстом не просто интересен сам по себе,
        но и перелицовывает многие тенденции современной работы с образом — в т.
        ч. поэтическим.
      </span>
    </p>
    <p>
      Центральный образ — флаг — отчасти случаен. Он не только становится
      поводом для заметок об идеологиях, репрезентации и государственных
      условностях, но и курсирует как универсальная коммуникативная единица. Он
      мелькает, как экран, на который может быть спроецирован буквально любой
      опыт (личный, коллективный, перцептивный, культурный, невозможный).
    </p>
    <p>
      Такая подвижность и техническая случайность не мешает, тем не менее,
      включению довольно лирических микротекстов. Однако они смешиваются с
      текстом интерфейса, и вот уже их чувственная конфигурация может быть
      поставлена под вопрос: вместо ностальгии или праведного гнева
      обнаруживается прикол, но в какой именно момент — почти невозможно
      определить.
    </p>
    <p>
      Образ здесь имеет прямую референцию, но ровно до той степени, до которой
      такую референцию имеет внутриигровой ландшафт. Что с ним происходит? Через
      цепочку отсылок, семантических рикошетов и запикселенной недостоверности
      проникает эмоциональный рандом, веселая, но болезненная ошибка. То, что не
      может найти себе место ни в функциональном геймплее-языке, ни в фотографии
      — эстетической функции.
    </p>
    <h2>Автокомментарий</h2>
    <p>в этой серии поровну намеренного и случайного.</p>
    <p>
      при строительстве зданий в Ski Resort Extreme участок земли под ними
      подсвечивается: зелёным, если строить здесь можно, и красным или
      фиолетовым, если нельзя.
    </p>
    <p>
      я решил заглитчить цвет этого прямоугольника (подобно тому, как мой
      товарищ Егор Черных пару лет назад красил дома в Anno 1404, изменяя
      HEX-коды, с помощью которых задаётся цвет) и, глядя на то, как он
      разбивается на полосы и крупные пиксели, подумал: это похоже на флаг. так
      я стал делать серию про флаги.
    </p>
    <p>
      некоторые флаги здесь не имеют реальных прототипов и появились случайным
      образом, в результате изменения кода, который окрашивает участок под
      зданием. некоторые другие я воссоздавал с помощью точечной замены цвета
      каждого пикселя. кажется, это самый неудобный способ рисования из всех,
      которые я когда-либо пробовал, поскольку, хотя я с лёгкостью мог найти
      список из нескольких десятков (или сотен, в зависимости от размеров
      здания) ячеек памяти, вместе отвечающих за цвета будущего флага, после
      этого нужно было ещё вычислить, за какой именно пиксель отвечает каждая из
      ячеек.
    </p>
    <blockquote
      class="wp-block-quote is-layout-flow wp-block-quote-is-layout-flow"
    >
      <p>
        также я снимал флаги, которые уже были в мире игры без моего
        вмешательства — как реальные, так и вымышленные. и, наконец, ещё один
        флаг я сделал во встроенном в игру редакторе карт.
      </p>
    </blockquote>

    <p>
      похожая ситуация с происхождением текстовых фрагментов. некоторые из них —
      естественная часть интерфейса игры, другие я написал в ходе работы над
      серией (в основном они приходили в голову, когда я выходил из дома или
      ложился спать) и добавил в игру, заменив на них надписи из интерфейса.
      часть надписей сложилась в результате глитчей (например, размножавших
      текст, привнесённый мной в игру).
    </p>
    <p>
      когда я попытался изменить цвет текста в игре, я нашёл способ глитчить его
      вместе с цветом и фактурой снега. цвет текста и снега никогда при этом не
      совпадали в точности, но находились в сложной взаимосвязи, и мне нравилось
      не понимать до конца, как это работает.
    </p>
    <p>
      и да, конечно, первым кусочком текста, который я сознательно перенёс в
      игру, была строчка из "Медного всадника" Пушкина, давшая название серии;
      читая её, изолированную от исходного контекста, нарочито буквально, я
      захотел изобразить утопическую ситуацию, в которой к нам действительно
      будут в гости все флаги - и существующие, и вышедшие из употребления, и
      никогда не существовавшие и даже невозможные.
    </p>
    <p>в числе представленных в серии реальных флагов вы найдёте:</p>

    <p>
      Буддийский флаг (1885) <br />
      флаг государства дервишей (1897-1920) <br />
      флаг страны Оз (Л. Фрэнк Баум, 1908) <br />
      флаг Исландии (1915) <br />
      проект флага Армении (Мартирос Сарьян, 1919) <br />
      Флаг Братства (World Peace Association, 1938) <br />
      флаг Китая (1949) <br />
      флаг Канады (1965) <br />
      флаг бантустана Рехобот (1979-1989) <br />
      флаг свободы слова (Джон Маркотте, 2007)
    </p>
    <figure
      class="wp-block-gallery has-nested-images columns-default is-cropped wp-block-gallery-1 is-layout-flex wp-block-gallery-is-layout-flex"
    >
      <figure class="wp-block-image size-large">
        <img
          fetchpriority="high"
          decoding="async"
          width="826"
          height="514"
          data-id="30"
          src="@img/single-slider.jpg"
          alt=""
          class="wp-image-30"
          sizes="(max-width: 826px) 100vw, 826px"
        />
        <figcaption class="wp-element-caption">
          Образ здесь имеет прямую референцию, но ровно до той степени, до
          которой такую референцию имеет
        </figcaption>
      </figure>

      <figure class="wp-block-image size-large">
        <img
          decoding="async"
          width="826"
          height="514"
          data-id="31"
          src="@img/single-head.jpg"
          alt=""
          class="wp-image-31"
          sizes="(max-width: 826px) 100vw, 826px"
        />
        <figcaption class="wp-element-caption">
          Образ здесь имеет прямую референцию, но ровно до той степени, до
          которой такую референцию имеет
        </figcaption>
      </figure>

      <figure class="wp-block-image size-large">
        <img
          decoding="async"
          width="826"
          height="514"
          data-id="32"
          src="@img/single-slider.jpg"
          alt=""
          class="wp-image-32"
          sizes="(max-width: 826px) 100vw, 826px"
        />
        <figcaption class="wp-element-caption">
          Образ здесь имеет прямую референцию, но ровно до той степени, до
          которой такую референцию имеет
        </figcaption>
      </figure>
    </figure>
    <p>в этой серии поровну намеренного и случайного.</p>
    <p>
      при строительстве зданий в Ski Resort Extreme участок земли под ними
      подсвечивается: зелёным, если строить здесь можно, и красным или
      фиолетовым, если нельзя.
    </p>
    <p>
      я решил заглитчить цвет этого прямоугольника (подобно тому, как мой
      товарищ Егор Черных пару лет назад красил дома в Anno 1404, изменяя
      HEX-коды, с помощью которых задаётся цвет) и, глядя на то, как он
      разбивается на полосы и крупные пиксели, подумал: это похоже на флаг. так
      я стал делать серию про флаги
    </p>
  </div>
</section>
