.breadcrumbs {
  position: relative;
  padding: 15px 0px;
  color: black;
  background-color: white;
  border: 3px solid black;
  border-top: none;
  font-family: "Andalemono", sans-serif;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: -3px;
    height: 3px;
    background-color: black;
    z-index: 10;
  }

  .aioseo-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .aioseo-breadcrumb {
    font-size: 14px;
  }
  .aioseo-breadcrumb-separator {
    display: none;
  }

  a {
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
  }
}
