.card {
  display: flex;
  flex-direction: column;
  font-family: "Andalemono", sans-serif;
  &__head {
    padding: 15px;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
  }
  &__type {
    font-size: 14px;
    color: var(--primary);
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 12px 12px 12px;
    @include laptop-min {
      min-height: 200px;
    }
  }
  &__info {
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
  }
  &__title {
    display: block;
    font-size: 30px;
    line-height: 80%;
    font-weight: 400;
    font-family: "Wremena", sans-serif;
    letter-spacing: -0.01em;
    margin: 0;
  }
  &__content {
    font-size: 14px;
    margin: 10px 0px 0px 0px;

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__list {
    margin-top: 10px !important;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 12px;

    .card__title {
      @include overflowText(2);
    }
  }
  &__num {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    min-height: 130px;
    flex-shrink: 0;

    font-family: "Wremena", sans-serif;
    font-size: 88px;
    letter-spacing: 0.06em;

    span {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-32%);
      font-size: 30px;
      letter-spacing: 0.06em;

      @include laptop-min {
        transform: translateY(0);
      }
    }
  }
  &__row-content {
  }
}
