.list-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
  list-style: none;
  padding: 0;
  font-family: "Andalemono", sans-serif;

  &._simple {
    li {
      display: block;
      padding: 5px 9px;
      background-color: var(--primary);
      border-radius: 12px;

      font-size: 9px;
      text-transform: uppercase;
      color: black;
    }
  }

  a {
    display: block;
    padding: 5px 9px;
    background-color: var(--primary);
    border-radius: 12px;

    font-size: 9px;
    text-transform: uppercase;
    color: black;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
  }
}
