@font-face {
	font-family: Andalemono;
	font-display: swap;
	src: url("../fonts/Andalemono.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Wremena;
	font-display: swap;
	src: url("../fonts/Wremena-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Wremena;
	font-display: swap;
	src: url("../fonts/Wremena-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Wremena;
	font-display: swap;
	src: url("../fonts/Wremena.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
